@model FootTimeLine.Front.Models.FeedDto
<script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script type="text/javascript" src="~/Scripts/App/Timeline.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        window.ko.applyBindings(new TimelineViewModel(
            "@Model.GameDto.HomeTeam",
            "@Model.GameDto.AwayTeam",
            "@Model.GameDto.League",
            "@Model.GameDto.HashTag"));
    })
</script>

<form>
    <div class="form-inline">
        <div data-bind="with: game">
            <div class="col">
                <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Domicile" data-bind="value: homeTeam">
                <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Exterieur" data-bind="value: awayTeam">
            </div>
            <div class="col">
                <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Championnat" data-bind="value: league">
                <input type="text" class="form-control mb-2 mr-sm-2" placeholder="hashtag" data-bind="value: hashTag">
            </div>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary mb-2" data-bind="click: getTimeline">One Two Tweet !!!</button>
        </div>
    </div>


</form>

<div class="jumbotron">
    @foreach (var e in Model.EventDtos)
    {
        <div class="row">
            <div class="col">@e.EventDescription</div>
            <div class="col" id="@e.TweetId"></div>
        </div>
    }
</div>

<script type="text/javascript">
    var tweetIds = [];

    @foreach (var d in Model.EventDtos.Select(x => x.TweetId))
    {
        @:tweetIds.push("@d");
    }

    tweetIds.forEach(function (element) {
        if (element != "0") {
            twttr.widgets.createTweet(
                element,
                document.getElementById(element));
        }
       
    });

</script>


