@model FootTimeLine.Front.Models.FeedDto

<script type="text/javascript" src="~/Scripts/App/Timeline.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        window.ko.applyBindings(new TimelineViewModel(
            "@Model.GameDto.HomeTeam",
            "@Model.GameDto.AwayTeam",
            "@Model.GameDto.League",
            "@Model.GameDto.HashTag"));
    })
</script>

<form>
    <div class="form-inline">
        <div data-bind="with: game">
            <div class="col">
                <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Domicile" data-bind="value: homeTeam">
                <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Exterieur" data-bind="value: awayTeam">
            </div>
            <div class="col">
                <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Championnat" data-bind="value: league">
                <input type="text" class="form-control mb-2 mr-sm-2" placeholder="hashtag" data-bind="value: hashTag">
            </div>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary mb-2" data-bind="click: getTimeline">One Two Tweet !!!</button>
        </div>
    </div>


</form>

<div class="jumbotron">
    @foreach (var e in Model.EventDtos)
    {
    <div class="row">
        <div class="col">@e.EventDescription</div>
        <div class="col">@Html.Raw(e.TweetHtml)</div>

    </div>
    }
</div>


